$light-blue: #95e1d3;

@media (min-width: 540px) {
  .header__carousel-elem {
    padding: 20px 0 0;

    &-text {
      display: flex;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      margin-left: 10px;
    }
  }

  .main {
    &__testemonial {
      flex-direction: row;
      padding: 10px;

      &-wrapper {
        flex-direction: row;
      }

      &-img {
        width: 20%;
        display: block;
      }

      &-text {
        width: 80%;
      }
    }

    &__portfolio {
      &-list {
        &-wrapper {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, 0.5fr);

          :nth-child(1) {
            grid-column: 1;
            grid-row: 1;
          }

          :nth-child(2) {
            grid-column: 2;
            grid-row: 1;
          }

          :nth-child(3) {
            grid-column: 1;
            grid-row: 2 / 4;
          }

          :nth-child(4) {
            grid-column: 2;
            grid-row: 2;
          }

          :nth-child(5) {
            grid-column: 2;
            grid-row: 3;
          }

          :nth-child(6) {
            grid-column: 1;
            grid-row: 4;
          }

          :nth-child(7) {
            grid-column: 2;
            grid-row: 4;
          }
        }

        &-elem {}

        &-photo {
          width: 100%;
        }
      }
      &-testemonial-icon {
        display: block;
      }
      &-testemonial-img {
        width: 125px;
        margin-right: 15px;
      }
    }

    
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .container {
    max-width: 90%;

    &-photo {
      flex-direction: row;
    }
  }

  .photo {
    margin: 0 20px;
  }

  .header {
    &__navbar {
      width: 100%;
      background-color: transparent;

      &-logo {
        width: 20%;

        &:hover {
          color: #fce38a;
        }
      }

      &-menu {
        width: 80%;
        

        &-items {
          display: flex;
          width: 80%;
          justify-content: inherit;
          list-style-type: none;
          align-items: center;
          
        }

        &-item {
         & > * {
           padding: 15px 0;
         }

          :hover {
            color: #fce38a;
            border-bottom: 3px solid #fce38a;
          }
        }

        &-cart,
        &-search {
          width: 10%;
          padding: 10px 0;

          :hover {
            cursor: pointer;
            color: #fce38a;
          }
        }

        &-burger {
          display: none;
        }
      }
    }

    &__text {
      font-size: 2.3em;
      margin-top: 30px;
    }

    &__quote {
      font-size: 4.4em;
    }

    &__carousel-elem {
      display: flex;

      &-num {
        display: flex;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        font-size: 1.5em;
      }
    }
  }

  .main {
    &__counting {
      height: 160px;

      &-item {
        height: 100%;
        padding: 40px 0;
      }

      &-number {
        font-size: 3.7em;
      }

      &-text {
        font-size: 0.8em;
      }
    }

    &__services-section-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%
    }

    &__services-section {
      width: 50%;

      &:nth-child(n+5) {
        border-bottom: transparent;
      }
    }

    &__whatWeDo {
      &-content {
        flex-direction: row;
      }

      &-list {
        margin-left: 20px;
      }
    }

    &__team {
      &-photos {
        flex-direction: row;
        justify-content: space-between;
      }

      &-person-wrapper {
        width: 30%;
      }
    }

    &__brand {
      &-list-img {
        width: 33%;
      }
    }

    &__portfolio {
      &-list {
        &-wrapper {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(2, 0.5fr);

          :nth-child(1) {
            grid-column: 1;
            grid-row: 1;
          }

          :nth-child(2) {
            grid-column: 2;
            grid-row: 1;
          }

          :nth-child(3) {
            grid-column: 3;
            grid-row: 1 / 3;
          }

          :nth-child(4) {
            grid-column: 4;
            grid-row: 1;
          }

          :nth-child(5) {
            grid-column: 1;
            grid-row: 2;
          }

          :nth-child(6) {
            grid-column: 2;
            grid-row: 2;
          }

          :nth-child(7) {
            grid-column: 4;
            grid-row: 2;
          }
        }
      }
    }

    &__blog {
      &-wrapper {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: end;
      }

      &-article {
        width: 33%;
        padding: 20px 15px;
      }
    }
  }

  .footer {
    &__wrapper {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
    }

    &__left {
      width: 100%;
    }

    &__center {
      width: 50%;
    }

    &__right {
      width: 50%;
      padding-left: 30px;
    }
  }

  @media (min-width: 950px) {
    .container {
      max-width: 90%;
    }

    .header {
      &__navbar {
        &-logo {
          width: 40%;
        }

        &-menu {
          width: 60%;
        }
      }

      &__text {
        font-size: 4em;
        margin-bottom: 40px;
      }

      &__quote {
        font-size: 8em;
      }
    }

    .main {
      &__services-section {
        width: 33%;
        padding: 30px 15px;

        &:nth-child(n+4) {
          border-bottom: transparent;
        }
      }

      &__unique-photo {
        &-big {
          width: 300px;
        }

        &-small {
          width: 130px;
          margin: 135px 0 0 70px;
        }
      }

      &__brand {
        &-list {
          padding: 30px 0;

          &-img {
            width: 15%;
            padding: 10px;
          }
        }
      }

      &__clients {
        &-list {
          flex-direction: row;
          flex-wrap: wrap;
          &-person {
            width: 50%;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 80%;
  }

  .main {
    &__unique-photo {
      &-big {
        width: 400px;
      }

      &-small {
        width: 170px;
        margin: 188px 0 0 150px;
      }
    }
  }

  .footer {
    &__wrapper {
      justify-content: space-between;
    }

    &__left {
      width: 28%;
    }

    &__center {
      width: 28%;
    }

    &__right {
      width: 40%;
      padding-left: 0;
    }
  }
}
