@mixin font($size: 1em, $family: $main-font, $weight: 400, $height: normal, $color: #fff, $transform: normal) {
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  line-height: $height;
  color: $color;
  text-transform: $transform;
 }