$white: #ffffff;
$black: black;
$lineColor: #f44f4f;
$darker-white: #8a8a8ad6;
$trapsparet-grey: #e2e2e2db;
$light-blue: #95e1d3;
$green: #2ec06c;
$darker-pink: #fa9797e3;
$hover-yellow: #fce38a;
$linear-gradient: linear-gradient(to top, $hover-yellow 0%, rgba(243, 129, 129, 0.9) 50%);
$main-font: Roboto-Regular;
$main-font-italic: Roboto-LightItalic;
$secondary-font: KaushanScript-Regular;
$third-font-bold: Montserrat-Bold;
$third-font: Montserrat-Regular;
$testemonial-background: #f8f8f8;
$modal-black: rgba(0, 0, 0, 0.9);
